<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title>Kiera Python - Samples</title>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<h2>Kiera Python 程式範例</h2>
	<div id="main">
		<div class="menu s1">
			<a href="{{ url_for('p1') }}">第一頁第一頁第一頁第一頁</a>
			<a href="{{ url_for('p2') }}">第二頁</a>
		</div>
		<div class="content s1">content</div>
	</div>
</body>
</html>