<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title>Kiera Python - Samples</title>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<h2>Kiera Python 程式範例(Python、Flask、Ajax)</h2>
	<div id="main">
		<div class="menu s1">
			<a href="#" id="0">Crawler、jieba</a>
			<a href="#" id="1">Pandas、Matplotlib</a>
			<a href="#" id="2">Power BI<br>(台南市原住民就職業概況)</a>
			<a href="#" id="3">Power BI<br>(台南市死因概況)</a>
		</div>
		<div class="content s1"><img src="{{ url_for('static', filename='img/loading.gif') }}"></div>
	</div>
</body>
</html>